* {
    box-sizing: border-box;
  }
  
  .container {
    align-items: flex-start;
    align-content: space-around;
    background-color: #bbb;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
    flex-flow: row wrap;
    height: 400px;
    justify-content: flex-start;
    margin: 20px auto;
    padding: 10px;
    width: 60%; 
  }

  .container div {
    background-color: red;
    border: 1px solid black;
    height: 50px;
    margin: 10px;
  }